Repository KhronosGroup/glTF, pull requests merged in 2018-09, with the labels that each got.

#1429 NormalTexture value should not be normalized
  specification/2.0/README.md
  specification/2.0/schema/material.normalTextureInfo.schema.json
Labels: specification

#1100 Discourage use of fragment in URI
  specification/2.0/README.md
Labels: 2.0, specification

#1416 The AGI_articulations and AGI_stk_metadata extensions
  extensions/2.0/Vendor/AGI_articulations/README.md
  extensions/2.0/Vendor/AGI_articulations/schema/articulation.schema.json
  extensions/2.0/Vendor/AGI_articulations/schema/articulation.stage.schema.json
  extensions/2.0/Vendor/AGI_articulations/schema/gltf.AGI_articulations.schema.json
  extensions/2.0/Vendor/AGI_articulations/schema/node.AGI_articulations.schema.json
  extensions/2.0/Vendor/AGI_stk_metadata/README.md
  extensions/2.0/Vendor/AGI_stk_metadata/schema/gltf.AGI_stk_metadata.schema.json
  extensions/2.0/Vendor/AGI_stk_metadata/schema/node.AGI_stk_metadata.schema.json
  extensions/2.0/Vendor/AGI_stk_metadata/schema/solarPanelGroup.schema.json
  extensions/README.md
Labels: extension

#1453 Add explicit type descriptor to integer enums
  specification/2.0/schema/accessor.schema.json
  specification/2.0/schema/accessor.sparse.indices.schema.json
  specification/2.0/schema/bufferView.schema.json
  specification/2.0/schema/mesh.primitive.schema.json
  specification/2.0/schema/sampler.schema.json
Labels: specification
