Repository KhronosGroup/glTF, pull requests merged in 2018-11, with the labels that each got.

#1476 Disallow primitive restart values.
  specification/2.0/README.md
Labels: specification

#1377 EXT_lights_image_based extension
  extensions/2.0/Vendor/EXT_lights_image_based/README.md
  extensions/2.0/Vendor/EXT_lights_image_based/figures/Cube_map.svg
  extensions/2.0/Vendor/EXT_lights_image_based/schema/glTF.EXT_lights_image_based.schema.json
  extensions/2.0/Vendor/EXT_lights_image_based/schema/light.schema.json
  extensions/2.0/Vendor/EXT_lights_image_based/schema/scene.EXT_lights_image_based.schema.json
Labels: extension, needs discussion

#1381 Skinning influenced by more than 4 joints
  specification/2.0/README.md
Labels: specification

#1490 Remove `name` from technique.uniform
  extensions/2.0/Khronos/KHR_techniques_webgl/schema/technique.uniform.schema.json
Labels: extension

#1498 Add a note about binary buffer size
  specification/2.0/README.md
Labels: specification
