Repository KhronosGroup/glTF, pull requests merged in 2020-08, with the labels that each got.

#1553 KHR_XMP
  extensions/2.0/Khronos/KHR_xmp/README.md
  extensions/2.0/Khronos/KHR_xmp/schema/examples/MODEL_ROUNDED_CUBE_PART_1/indices.bin
  extensions/2.0/Khronos/KHR_xmp/schema/examples/MODEL_ROUNDED_CUBE_PART_1/normals.bin
  extensions/2.0/Khronos/KHR_xmp/schema/examples/MODEL_ROUNDED_CUBE_PART_1/positions.bin
  extensions/2.0/Khronos/KHR_xmp/schema/examples/xmp.gltf
  extensions/2.0/Khronos/KHR_xmp/schema/glTF.KHR_xmp.schema.json
  extensions/2.0/Khronos/KHR_xmp/schema/node.KHR_xmp.schema.json
Labels: extension, needs discussion

#1843 ADOBE_materials_clearcoat_specular
  extensions/2.0/Vendor/ADOBE_materials_clearcoat_specular/README.md
  extensions/2.0/Vendor/ADOBE_materials_clearcoat_specular/schema/glTF.ADOBE_materials_clearcoat_specular.schema.json
Labels: PBR

#1698 KHR_materials_transmission
  extensions/2.0/Khronos/KHR_materials_transmission/README.md
  extensions/2.0/Khronos/KHR_materials_transmission/figures/ConstantTransmission.png
  extensions/2.0/Khronos/KHR_materials_transmission/figures/Multi-layer Transparency.png
  extensions/2.0/Khronos/KHR_materials_transmission/figures/OpacityComparison.png
  extensions/2.0/Khronos/KHR_materials_transmission/figures/Roughness.png
  extensions/2.0/Khronos/KHR_materials_transmission/figures/Screen Shot 2019-10-25 at 3.40.21 PM.png
  extensions/2.0/Khronos/KHR_materials_transmission/figures/TransmissionTexture.png
  extensions/2.0/Khronos/KHR_materials_transmission/figures/TransmissionWithMask.png
  extensions/2.0/Khronos/KHR_materials_transmission/schema/glTF.KHR_materials_transmission.schema.json
Labels: extension, needs discussion

#1681 The KHR_materials_variants extension
  extensions/2.0/Khronos/KHR_materials_variants/README.md
  extensions/2.0/Khronos/KHR_materials_variants/schema/glTF.KHR_materials_variants.schema.json
  extensions/2.0/Khronos/KHR_materials_variants/schema/mesh.primitive.KHR_materials_variants.schema.json
  extensions/2.0/Khronos/KHR_materials_variants/sneakers.png
Labels: extension
